{{body}}
<div class="navbar">
  <a href="/"><img src="./img/redcross.png" height="50px" style="float:left;padding-left:10px;"></a>
  <a href="/login"><i class="fa fa-sign-in fa-3x" style="float:right;padding-right:20px;"></i></a>
</div>
<div align="center" class="Container">
    <form id="login-Form" method="post" action="/user" class="loginForm">
        <a href="/"><img src="./img/login.png" height="150px" style="padding-top:20px;"></a>
        <h1>Please log in</h1>
        <input type="text" name="username" placeholder="(username)" class="box">
        <br><br>
        <input type="password" name="pw" placeholder="(password)" class="box">
        <br><br><br>
        <input type="submit" name="submit" value="Login" class="searchBtn">
        <br>
    </form>
</div>
